* {
    box-sizing: border-box;
    text-align: center;
}

main{
    width: 300px;
    min-height: 480px;
    margin: 0px auto;
    border: 4px outset lightgray;
}

.app-wrapper{
    height: 100vh;
}

.navbar-wrapper{
    width: 300px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form input{
    border: 2px outset lightgray;    
    font-size: 16px;
    height: 25px;
    width: 80%;
}

form h4 {
    margin: 15px auto;
}

.add-todo{
    margin: 15px auto;
    width: 250px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 15px auto;
    border: 3px inset lightgray;
}

.todo-item h3{
    font-size: 25px;
    margin: 8px;
}

.completed, .delete-todo{
    height: 25px;
    width: 20px;
    margin: 10px;
}

.delete-todo{
    padding: 0;
    -webkit-appearance: checkbox;
}